//цвет бэк
$backColorBlack: rgba(0, 18, 44, 0.856);
//цвет бокс
$boxColorBlack: rgb(0, 5, 9);

.authorization {
  display: none;
  position: fixed;
  z-index: 150;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $backColorBlack;
  .authorization__content {
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: $colorWhite;
    max-width: 300px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 50px 0px $boxColorBlack;
    .authorization__form-wrapper {
      .authorization__title {
        display: flex;
        justify-content: center;
        color: $colorBlack;
        font-family: "Gilroy-Light", sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 50px;
        margin-top: 20px;
      }
      p {
        color: $colorBlack;
        font-family: "Gilroy-Light", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 187.5%;
        letter-spacing: 0.64px;
        margin-bottom: 8px;
      }
      input {
        width: 150px;
        height: 40px;
        border-radius: 10px;
        border: 2px solid $backColorGrey;
        color: $colorBlack;
        font-family: "Gilroy-Light", sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: 0.64px;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 40px;
      }
    }
    button {
      width: 100%;
      height: 72px;
      border: 0;
      padding: 0;
      border-radius: 10px;
      background: $backColorBlue;
      box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
      color: $colorWhite;
      text-align: center;
      font-family: "Gilroy-Light", sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 162.5%;
      letter-spacing: 0.64px;
      margin-bottom: 56px;
    }
    button:hover,
    button:focus,
    button:active {
      transition: 0.5s;
      transform: scale(1.2);
    }
    .authorization__close {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .authorization__close:hover,
    .authorization__close:focus,
    .authorization__close:active {
      background-color: $backColorBlue;
      border-radius: 4px;
      transition: 0.5s;
      transform: scale(1.7);
      color: $colorWhite;
    }
  }
}
