//цвет текста
$colorBlack: #2c3038;
$colorWhite: #fff;
//цвет бэк
$backColorWhite: rgba(255, 255, 255, 0.85);
$backColorBlue: #0f8ff9;
$backColorGrey: #01172b1b;

.header {
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: $backColorWhite;
  padding: 18px 30px;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1860px;
    margin-left: auto;
    margin-right: auto;
    .header__wrapper-navigation {
      display: flex;
      .header__logo {
        display: flex;
        align-items: center;
        margin-right: 100.21px;
        img {
          &:first-child {
            margin-right: 8.48px;
          }
        }
      }
      @media (max-width: 1480px) {
        .header__logo {
          margin-right: 50.21px;
        }
      }
      @media (max-width: 1306px) {
        .header__logo {
          margin-right: 20.21px;
        }
      }
      @media (max-width: 1273px) {
        .header__logo {
          margin-right: 5px;
        }
      }
      @media (max-width: 600px) {
        .header__logo {
          margin-right: 96px;
          margin-left: 135.6px;
        }
      }

      .header__navitagion {
        display: flex;
        select {
          color: $colorBlack;
          margin-right: 30px;
          height: 24px;
          border: 0;
          font-size: 18px;
          font-weight: 400;
          line-height: 110%;
          appearance: none;
          background: url("/src/img/select.svg") no-repeat right;
          cursor: pointer;
          option {
            font-size: 18px;
            font-weight: 400;
            line-height: 110%;
            cursor: pointer;
          }
        }
        select:hover,
        select:focus,
        select:active {
          background-color: $backColorBlue;
          border-radius: 4px;
          transition: 0.5s;
          transform: scale(1.2);
          color: $colorWhite;
        }
        @media (max-width: 1480px) {
          select {
            font-size: 15px;
            margin-right: 5px;
          }
        }
        @media (max-width: 1258px) {
          select {
            font-size: 12px;
          }
        }
        .header__select-possibilities {
          width: 142px;
        }
        @media (max-width: 1480px) {
          .header__select-possibilities {
            width: 130px;
          }
        }

        @media (max-width: 1258px) {
          .header__select-possibilities {
            width: 95px;
          }
        }
        @media (max-width: 1003px) {
          .header__select-possibilities {
            width: 95px;
          }
        }

        .header__select-solutions {
          width: 100px;
        }
        @media (max-width: 1480px) {
          .header__select-solutions {
            width: 90px;
          }
        }
        @media (max-width: 1258px) {
          .header__select-solutions {
            width: 70px;
          }
        }
        @media (max-width: 1003px) {
          .header__select-solutions {
            width: 72px;
          }
        }
        .header__select-resources {
          width: 99px;
        }
        @media (max-width: 1480px) {
          .header__select-resources {
            width: 85px;
          }
        }
        @media (max-width: 1258px) {
          .header__select-resources {
            width: 68px;
          }
        }
        nav {
          display: flex;
          align-items: center;
          ul {
            width: 215px;
            display: flex;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
            li {
              margin-right: 30px;
              width: 67px;
              cursor: pointer;
              &:first-child {
                width: 41px;
              }

              &:last-child {
                margin-right: 0px;
                width: 47px;
              }
              a {
                color: $colorBlack;
                text-decoration: none;
              }
            }
            a:hover,
            a:focus,
            a:active {
              background-color: $backColorBlue;
              border-radius: 4px;
              transition: 0.5s;
              color: $colorWhite;
            }
            @media (max-width: 1480px) {
              li {
                margin-right: 10px;
                width: 50px;
                &:first-child {
                  width: 28px;
                }

                &:last-child {
                  width: 40px;
                }
              }
            }
          }
          @media (max-width: 1480px) {
            ul {
              width: auto;
              font-size: 15px;
            }
            &:last-child {
              margin-right: 2px;
            }
          }
          @media (max-width: 1258px) {
            ul {
              width: auto;
              font-size: 12px;
            }
          }
        }
      }
      @media (max-width: 990px) {
        .header__navitagion {
          display: none;
        }
      }
    }
    //

    .header__buttons {
      display: flex;
      align-items: center;
      button {
        cursor: pointer;
        margin-right: 10px;
        &:last-child {
          margin-right: 0px;
        }
      }
      @media (max-width: 1011px) {
        button {
          width: 160px;
          &:first-child {
            margin-right: 2px;
          }
        }
      }
      .header__button-demo {
        width: 236px;
        height: 42px;
        font-size: 18px;
        font-weight: 400;
        line-height: 100%;
        padding: 10px 18px 10px 15px;
        display: flex;
        align-items: center;
        border: 0;
        border-radius: 4px;
        background-color: $backColorWhite;
        img {
          margin-right: 8px;
        }
      }
      .header__button-demo:hover,
      .header__button-demo:focus,
      .header__button-demo:active {
        background: $backColorGrey;
        transition: 0.5s;
        transform: scale(1.2);
      }

      @media (max-width: 1480px) {
        .header__button-demo {
          width: 195px;
          padding: 0;
          font-size: 17px;
        }
      }
      @media (max-width: 1100px) {
        .header__button-demo {
          width: 150px;
          font-size: 13px;
          img {
            margin-right: 0px;
          }
        }
      }
      @media (max-width: 990px) {
        .header__button-demo {
          display: none;
        }
      }

      .header__button-open {
        width: 94px;
        padding: 12px 20px;
        font-size: 18px;
        font-weight: 400;
        line-height: 100%;
        border-radius: 4px;
        border: 1px solid rgba(5, 21, 52, 0.3);
        background-color: $backColorWhite;
      }
      @media (max-width: 600px) {
        .header__button-open {
          display: none;
        }
      }
      .header__button-open:hover,
      .header__button-open:focus,
      .header__button-open:active {
        background: $backColorGrey;
        transition: 0.5s;
        transform: scale(1.2);
      }
      .header__button-registr {
        width: 221px;
        height: 42px;
        color: $colorWhite;
        padding: 12px 20px;
        border-radius: 4px;
        border: 0;
        background-color: $backColorBlue;
        font-size: 18px;
        font-weight: 400;
        line-height: 100%;
      }
      @media (max-width: 990px) {
        .header__button-registr {
          margin-right: 30px;
        }
        @media (max-width: 600px) {
          .header__button-registr {
            display: none;
          }
        }
      }
      .header__button-registr:hover,
      .header__button-registr:focus,
      .header__button-registr:active {
        opacity: 0.6;
        transition: 0.5s;
        transform: scale(1.2);
      }
      .header__button {
        display: none;
        border: 0;
        padding: 0;
        width: 24px;
        height: 24px;
        .header__icon {
          width: 24px;
          height: 24px;
          background-image: url("/src/img/Menu.svg");
        }
      }
      @media (max-width: 990px) {
        .header__button {
          display: block;
        }
      }
      .header__button:hover,
      .header__button:focus,
      .header__button:active {
        background-color: $backColorBlue;
        border-radius: 4px;
        transition: 0.5s;
        transform: scale(1.7);
        color: $colorWhite;
      }
    }
  }
  @media (max-width: 600px) {
    .header__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@media (max-width: 1060px) {
  .header {
    padding: 18px 5px;
  }
}
@media (max-width: 1002px) {
  .header {
    padding: 18px 3px;
  }
}
@media (max-width: 990px) {
  .header {
    padding: 18px 30px;
  }
}
